@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    /* ========================================= COLORS ========================================= */
    --body-color: #0B0D17;
    --light-cyan-color: #D0D6F9;
    --title-color: #fff;

    /* ========================================= Font and typography ========================================= */
    --Heading-1: 5rem;
    --Heading-2: 3.5rem;
    --Heading-3: 1.75rem;
    --Heading-4: 1.5rem;
    --Heading-5: 1rem;

    --text-size: 15px;

}

@media screen and (min-width: 1024px) {
    :root {
        --Heading-1: 9.375rem;
        --Heading-2: 6.25rem;
        --Heading-3: 3.5rem;
        --Heading-4: 2rem;
        --Heading-5: 1.75rem;

        --text-size: 1.125rem
    }
}